.character-form__controls {
  color: black;
  font-size: larger;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.character-form__control label{
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.character-form__control input{
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.character-form__control button{
  text-align: left;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid rgb(85, 48, 4);
  background-color: rgb(85, 48, 4);
  color: white;
  border-radius: 12px;
  margin-left: 1rem;
  
}